<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with LLM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-whJ6KZfWJAwgxlE+Vfrckps58Nty4qqK5siQZV30WAp3uMmLQbzNrrF5PY0i34jA" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="chat-container">
        <div class="chat-window">
            <h3 class="text-center">Chatbot RAG</h3>
            <div id="chat_window"></div>
            <div class="input-group">
                <input type="text" id="user_input" class="form-control form-control-lg"
                    placeholder="Type your message here...">
                <button class="btn btn-primary send-button" onclick="sendMessage()">Send</button>
            </div>
        </div>
        <div class="sidebar">
            <h4>Hochgeladene PDFs</h4>
            <ul id="file_list" class="file-list">
                {% for file in uploaded_files %}
                <li data-filename="{{ file }}" onclick="selectFile('{{ file }}')">
                    <a href="/uploads/{{ file }}" target="_blank">{{ file }}</a>
                </li>
                {% endfor %}
            </ul>
            <div id="delete_section" style="display: none; margin-top: 15px;">
                <button class="btn btn-danger" onclick="deleteSelectedFile()">Delete Selected File</button>
            </div>
            <div>
                <input type="file" id="pdf_upload" class="form-control mt-3 fileUpload">
                <button class="btn btn-success mt-2 " onclick="uploadPDF()">PDF hochladen</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+6t4l2e5z9F6n5OwlJ9yO1H2g2VZr"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>